$theme-colors: (
    "primary": #A352B3
);

$border-radius:               1.5rem ;
$border-radius-lg:            1.5rem ;
$border-radius-sm:            1.5rem ;

@import "../../node_modules/bootstrap/scss/bootstrap";

